.banner {
	background-image:linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.2)), url(../../images/background.jpg);
	color: white;
	height: 100px;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}